<nav class="navbar navbar-dark  bg-dark  navbar-expand-lg">
    <a class="navbar-brand" href="#"><img src="" />Bem-vindo ao Mundo de Liborio</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#">Principal</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/#!/play">Jogar</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#!/register">Cadastrar</a>
            </li>
        </ul>
    </div>
</nav>
<div class='text-branco'>
    <h1>
        Bem-vindo ao mundo onde só os fortes sobrevivem...
    </h1>
    <p>
        Esse mundo é muito perigoso, cuidado, imagens fortes!
    </p>
    <a href="/#!/play" class="btn btn-dark">Começar minha aventura</a>
</div>
<div class="noticias">
    <div class="container">
        <h1 class="display-4">Está afim de um jogo emocionante?</h1>

        <div class="row">
            <div class="col-lg-4">
                <a href="#">
                    <div class="noticia">
                        <div class="noticia-img">
                            <img class="img-fluid" src="assets/exercito.jpg">
                        </div>
                        <h2>Faça amigos!</h2>
                        <p>Conquiste novas amizades únicas, seja fiel e sera fidelizado</p>
                    </div>
                </a>
            </div>
            <div class="col-lg-4">
                <a href="#">
                    <div class="noticia">
                        <div class="noticia-img">
                            <img class="img-fluid" src="assets/liborio.png">
                        </div>
                        <h2>Seja o mais FORTE!</h2>
                        <p>Mostre seu poder para todos, vença TODOS!</p>
                    </div>
                </a>
            </div>
            <div class="col-lg-4">
                <a href="#">
                    <div class="noticia">
                        <div class="noticia-img">
                            <img class="img-fluid" src="assets/domine.jpg">
                        </div>
                        <h2>Reine o mundo!</h2>
                        <p>Conquiste terras e domine o mundo todo!</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>


